@model BibliospherePRAVI1.Models.Autor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="autorID" />
            <div class="form-group">
                <label asp-for="autorIme" class="control-label"></label>
                <input asp-for="autorIme" class="form-control" />
                <span asp-validation-for="autorIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autorPrezime" class="control-label"></label>
                <input asp-for="autorPrezime" class="form-control" />
                <span asp-validation-for="autorPrezime" class="text-danger"></span>
            </div>
            <div class="col-sm-2" style="margin-top:20px">
                Picture:
            </div>
            <div class="form-group" style="margin-top:17px">
                <img src="@Url.Content("~/autori/" + Model.autorSlika)" alt="Author Image" style="max-width:200px;" />
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autorDatumRod" class="control-label"></label>
                <input asp-for="autorDatumRod" class="form-control" />
                <span asp-validation-for="autorDatumRod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="margin-top:20px; background-color:#416393"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary" style="margin-top:15px">Back to List</a>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
